
body {
      background-color: lightblue;
}
                      
h1, h2 {
<<<<<<< HEAD
    color : blue;
=======
    color : black;
>>>>>>> feature/product-cart
    text-align : center;
}

p {
   font-family : verdana;
   font-size : 20px;
}
               
